.page-header {
    height: 80px;
}

// outer page wrapper
.page-wrapper {
    margin: 20px;
    padding: 0;
}

// page contents container
.page-contents {
    margin: 0 auto;
    max-width: 1500px;
}
